html, body {
    width: 100%;
    height:100%;
  }

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    background-image: url("../images/beer_close.png");
    background-size: 18% 100%;
    text-align: center;
  }


/**************** SLIDERS ****************/
.slider {
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 50px;
    padding: 15px;
    padding-left: 25px;
    background: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
    margin-bottom: 25px;
    }
.slider p {
    color: white;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
}
.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 420px;
    height: 5px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border: none;
    outline: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid white;
    border-radius: 500%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}

.reset-button {
    appearance: button;
    background-color: #11b8f5;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    left: 40%;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 25%;
}

.button {
    appearance: button;
    background-color: #23d5ab;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    left: 60%;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 25%;
  }

.table * {
    text-align: center;
    background-color: red;
}
