<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Beer Recommender</title>
    <!-- Link to Bootstrap CDN -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <!-- Link to our stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- NAV BAR -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <!-- Link to refresh page  -->
        <a class="navbar-brand" href="/"><h1>Craft Beer Recommender</h1></a>
    </nav>
    <div class="container">
        <!-- SLIDERS -->
        <form action="your-beers" method="post" id="sliders">
            <!-- Astringency -->
            <div class="slider">
                <p><b>Astringent</b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="astringentValue.innerText = this.value">
                <p id="astringentValue">50</p>
            </div>
            <!-- Body (Light/Dark)-->
            <div class="slider">
                <p><b>Darkness</b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="bodyValue.innerText = this.value">
                <p id="bodyValue">50</p>
            </div>
            <!-- Bitterness -->
            <div class="slider">
                <p><b>Bitter</b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="bitterValue.innerText = this.value">
                <p id="bitterValue">50</p>
            </div>
            <!-- Sweetness -->
            <div class="slider">
                <p><b>Sweet </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="sweetValue.innerText = this.value">
                <p id="sweetValue">50</p>
            </div>
            <!-- Sourness -->
            <div class="slider">
                <p><b>Sour </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="sourValue.innerText = this.value">
                <p id="sourValue">50</p>
            </div>
            <!-- Saltiness -->
            <div class="slider">
                <p><b>Salty </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="saltyValue.innerText = this.value">
                <p id="saltyValue">50</p>
            </div>
            <!-- Fruitiness -->
            <div class="slider">
                <p><b>Fruity </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="fruityValue.innerText = this.value">
                <p id="fruityValue">50</p>
            </div>
            <!-- Hoppiness -->
            <div class="slider">
                <p><b>Hoppy </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="hoppyValue.innerText = this.value">
                <p id="hoppyValue">50</p>
            </div>
            <!-- Spices -->
            <div class="slider">
                <p><b>Spices </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="spicyValue.innerText = this.value">
                <p id="spicyValue">50</p>
            </div>
            <!-- Maltiness -->
            <div class="slider">
                <p><b>Malty </b><pre></pre></p>
                <input type="range" name="user_input" min="0" max="100" value="50" step="1" oninput="maltyValue.innerText = this.value">
                <p id="maltyValue">50</p>
            </div>
            <!-- BUTTONS -->
            <button class="reset-button btn-lg" onclick="history.go(0);">Reset Taste</button>
            <button class="button btn-lg" form="sliders" type="submit">Go!</button>
            
        </form>
        
    </div>
</body>
</html>